.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
    color: #333;
}

/*
.intro-wrapper:hover {
    background-color: mediumaquamarine;
    color: white;
}
*/